<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link rel="stylesheet" href="assets/css/flash.css">
<div class="flash">
    <% if (message.success) { %>
        <div class="flash-box success">
            <i class="icon fa fa-check-circle"></i>
            <p class="flash-message">
                <%-message.success%>
            </p>
            <button class="fa fa-times flash-close"></button>
        </div>
        <% } %>
            <% if (message.error) { %>
                <div class="flash-box error">
                    <i class="icon fa fa-times-circle"></i>
                    <p class="flash-message">
                        <%-message.error%>
                    </p>
                    <button class="fa fa-times flash-close"></button>
                </div>
                <% } %>
                    <% if (message.info) { %>
                        <div class="flash-box info">
                            <i class="icon fa fa-info-circle"></i>
                            <p class="flash-message">
                                <%-message.info%>
                            </p>
                            <button class="fa fa-times flash-close"></button>
                        </div>
                        <% } %>
                            <% if (message.warning) { %>
                                <div class="flash-box warning">
                                    <i class="icon fa fa-warning-circle"></i>
                                    <p class="flash-message">
                                        <%-message.warning%>
                                    </p>
                                    <button class="fa fa-times flash-close"></button>
                                </div>
                                <% } %>
</div>
<script src="assets/js/flash.js"></script>