<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- ==== import font ==== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </link>

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="/assets/css/login.css" />
  <title>Codversity-Login</title>
</head>

<body>

  <div id="particles-js"></div>

  <div class="forgot-box">

    <form method="POST" class=" forgot" id="login-up">

      <h1 class="login__title">Forgot Password</h1>
      <%if(!password){%>
        <div class="login__box">
          <i class="fa fa-at login__icon"></i>
          <input name="username" type="email" placeholder="Email" class="login__input" required
            <%=password?"disabled":null%> />
        </div>
        <%}else{%>
          <div class=" login__box">
            <i class="fa fa-lock login__icon"></i>
            <input name="password" type="password" placeholder="Password" class="login__input password" required />

            <div class="helper-wrapper">
              <div class="helper-text"><span class="length"><i class="fas fa-times"></i> Between 6-50 characters
                </span><span class="lowercase"><i class="fas fa-times"></i>
                  Lowercase letter</span><span class="uppercase"><i class="fas fa-times"></i> Uppercase
                  letter</span><span class="number"><i class="fas fa-times"></i> A
                  number</span><span class="special"><i class="fas fa-times"></i> A special character</span></div>
            </div>
          </div>
          <div class="login__box">
            <i class="fa fa-lock login__icon"></i>
            <input name="cPassword" type="password" placeholder="Confirm Password" class="login__input ConfirmPassword"
              required />
          </div>
          <%}%>
            <span class="flash_message <%=message.error?" error":"success" %>" id="flash">
              <%=message.error||message.success%>
            </span>
            <input type="submit" class="login__button" value="Reset">

    </form>
  </div>

  <footer class="footer-distributed">
    <div class="footer-right"> <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-left">
      <p class="footer-links">
        <a class="link-1" href="#">Home</a> <a href="#">Blog</a> <a href="#">Pricing</a> <a href="#">About</a> <a
          href="#">Faq</a> <a href="#">Contact</a>
      </p>
      <p>Codversity &copy; 2021</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="/assets/js/particles.js"></script>
  <script src="/assets/js/validation.js"></script>

  <%- include('partials/footer') %>