.flash {
  margin: 0 10px;
  position: fixed;
  right: 0;
  top: 10px;
  box-sizing: border-box;
  z-index: 999999;
}

.flash .flash-box {
  background-color: #ffffff;
  min-height: 65px;
  font-size: 16px;
  margin-bottom: 5px;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: flash_appear none ease 500ms;
  overflow: hidden;
}
.flash .flash-box.flash_hide {
  opacity: 0;
  transform: translateX(90%);
  animation: flash_remove none ease 500ms;
}
@keyframes flash_appear {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes flash_remove {
  0% {
    opacity: 1;
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.flash .success {
  --color: #07bc0c;
}
.flash .error {
  --color: #e74c3c;
}

.flash .info {
  --color: #3498db;
}

.flash .warning {
  --color: #f1c40f;
}

.flash .icon {
  fill: var(--color);
  padding: 0 12px;
}

.flash .flash-message {
  margin: 10px 30px 10px 0;
  color: #757575;
}

.flash .flash-close {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: dimgray;
  cursor: pointer;
}

.flash .flash-range {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: var(--color);
  border-radius: 0 0 0 5px;
  animation: range linear 1 forwards 5s;
}

@keyframes range {
  0% {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
  5% {
    border-radius: 0 0 0 5px;
    width: 100%;
  }
}
