<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control" required>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control" required></textarea>
</div>

<div class="mb-3">
    <label for="markdown" class="form-label">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control" required></textarea>
</div>
<a href="/article" class="btn btn-danger">Cancel</a>
<input type="submit" value="Submit" class="btn btn-primary">