<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Articles</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Articles</h1>
        <a href="article/new" class="btn btn-success">New Articles</a>

        <% articles.forEach((article)=>{%>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= article.title %>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%=article.createdAt.toLocaleDateString()%>
                    </div>
                    <div class="card-text mb-2">
                        <%=article.description%>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>