.flash {
  margin: 0 10px;
  position: fixed;
  right: 0px;
  top: 10px;
  box-sizing: border-box;
  z-index: 999999;
}

.flash .flash-box {
  background-color: #ffffff;
  min-height: 65px;
  font-size: 16px;
  margin-bottom: 5px;
  box-shadow: 1px 2px 8px 2px #888888;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: flash_appear 1s;
}
.flash .flash-box.flash_hide {
  transform: translateX(90%);
  animation: flash_remove 2s;
}
@keyframes flash_appear {
  0% {
    transform: translateX(100%);
  }
}
@keyframes flash_remove {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.flash .success .icon {
  color: #47d664;
}

.flash .error .icon {
  color: #f14014;
}

.flash .info .icon {
  color: blue;
}

.flash .warning .icon {
  color: yellow;
}

.flash .fa {
  font-size: 20px;
  padding: 0 12px;
  background-color: transparent;
  border: none;
}

.flash .flash-message {
  margin: 10px 0;
  color: rgb(117, 117, 161);
}

.flash .flash-range {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #47d664;
  border-radius: 0 0 0px 5px;
  animation: range 8s;
}

@keyframes range {
  0% {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
  15% {
    border-radius: 0 0 0px 5px;
    width: 100%;
  }
}
