.flash {
  position: fixed;
  right: 10px;
  top: 10px;
  height: auto;
  width: 400px;
  box-sizing: border-box;
  z-index: 999999;
}

.flash .flash-box {
  background-color: #ffffff;
  min-height: 50px;
  font-size: 16px;
  margin-bottom: 5px;
  box-shadow: 1px 2px 8px 2px #888888;
  border-radius: 2px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: appear 1s;
}

@keyframes appear {
  0% {
    height: 0;
  }
}

.flash .success {
  border-left: 5px solid #47d664;
}

.flash .error {
  border-left: 5px solid #f14014;
}

.flash .info {
  border-left: 5px solid blue;
}

.flash .warning {
  border-left: 5px solid yellow;
}

.flash .success .icon {
  color: #47d664;
}

.flash .error .icon {
  color: #f14014;
}

.flash .info .icon {
  color: blue;
}

.flash .warning .icon {
  color: yellow;
}

.flash .fa {
  font-size: 24px;
  padding: 0 24px;
  background-color: transparent;
  border: none;
}

.flash .flash-message {
  margin: 10px 0;
  color: #555353;
}
