<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control" required value="<%=blog.title%>">
</div>
<div class="mb-3">
    <label for="title" class="form-label">Slug</label>
    <input type="text" name="slug" id="slug" class="form-control" value="<%=blog.slug%>">
    <p class="text-muted">slug should be url encoded. Leave blank to auto generate.</p>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control" required><%=blog.description%></textarea>
</div>

<div class="mb-3">
    <label for="markdown" class="form-label">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control" rows="15" required><%=blog.markdown%></textarea>
</div>
<a href="/blog" class="btn btn-danger">Cancel</a>
<input type="submit" value="Submit" class="btn btn-primary">