<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Blogs</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-1">
            <%= blog.title%>
        </h1>
        <div class="text-muted mb-2">
            <%=blog.createdAt.toLocaleDateString()%>
        </div>
        <a href="/blog" class="btn btn-secondary">All blogs</a>
        <a href="/blog/edit/<%=blog.id%>" class="btn btn-primary">Edit</a>
        <div>
            <%- blog.sanitizedHtml%>
        </div>
    </div>
</body>

</html>