<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course add</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="author" id="" placeholder="author">
        <input type="text" name="title" id="" placeholder="title">
        <input type="text" name="price" id="" placeholder="price">
        <input type="submit" name="" id="">
    </form>
    <form action="/course" method="GET">
        <input type="search" name="search" id="" placeholder="search">
        <input type="submit" id="">
    </form>
    <%if(done){%>
        <h1> Submitted</h1>
        <% }%>
</body>

</html>